* {
    font-family:'Courier New', Courier, monospace;
}
.nav-center {
    background-color: rgb(255,255,255,0.80);
    color: black;

}
.nav-links {
    position:absolute;
    top: 1%;
    left: 80%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.navlink {
    display: inline;
}
.container {
    background-color: rgb(255, 255, 255, 0.8);
}
main {
    position: absolute;
    right:40%;
    top: 20%;
}
footer {
    position: absolute;
    bottom: 0%;
    border-bottom: 0;
    border-top: 0;
}
button {
    border:0ch;
    background-color: aliceblue;
}
.midd {
    display:inline;
}